################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChatAPI/.vs/ChatAPI
/ChatAPI/ChatAPI/bin/Debug/net7.0
/ChatAPI/ChatAPI/obj/Debug/net7.0/ref
/ChatAPI/ChatAPI/obj/Debug/net7.0/refint
/ChatAPI/ChatAPI/obj/Debug/net7.0/staticwebassets
/ChatAPI/ChatAPI/obj/Debug/net7.0/apphost.exe
/ChatAPI/ChatAPI/obj/Debug/net7.0/ChatAPI.AssemblyInfo.cs
/ChatAPI/ChatAPI/obj/Debug/net7.0/ChatAPI.AssemblyInfoInputs.cache
/ChatAPI/ChatAPI/obj/Debug/net7.0
